<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-    width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description"
          content="piStar is an online Goal Modeling tool, compliant with iStar 2.0. Useful for creating diagrams for requirements documents.">
    <meta name="author" content="João Pimentel">
    <link rel="icon" href="images/favicon.ico">

    <title>piStar tool - Goal Modeling</title>

    <!-- bootstrap styles -->
    <link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">  <!-- Bootstrap core CSS -->

    <!-- library-specific styles -->
    <link rel="stylesheet" href="istarcore/lib/joint.min.css"/> <!-- joint js -->
    <link href="lib/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"> <!-- x-editable -->

    <!-- custom styles -->
    <link rel="stylesheet" href="pistar.css"/>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-xs">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">piStar</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="examplesButton"><a href="#examplesArea" aria-controls="examplesArea" aria-expanded="false"
                                           data-toggle="collapse" title="Open some pre-loaded examples.">Examples</a>
                </li>
                <li id="helpButton"><a href="#helpArea" aria-controls="helpArea" aria-expanded="false"
                                       data-toggle="collapse"
                                       title="Don't worry, you won't lose your model if you click here.">Help</a></li>
                <li id="personaButton"><a href="#personaArea" aria-controls="personaArea" aria-expanded="false"
                                          data-toggle="collapse"
                                          title="Don't worry, you won't lose your model if you click here.">Persona-Based
                    Modelling</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="examplesArea" class="collapse container">
    <div class="well">
        <em>Loading may take a while, please wait a few seconds after clicking in an example below:</em>
        <ul>
            <li><a href="#examplesArea" onclick="examples.smallExample();" aria-controls="examplesArea"
                   data-toggle="collapse">Small Example</a></li>
            <li><a href="#examplesArea" onclick="examples.travelReimbursement();" aria-controls="examplesArea"
                   data-toggle="collapse">Travel Reinbursement</a></li>
        </ul>
    </div>
</div>

<div id="helpArea" class="collapse container">
    <div class="well">
        <ul>
            <li>Press <kbd>F11</kbd> to use the tool in fullscreen</li>
            <li>To change the text of an element: double-click it.</li>
            <li>To collapse/uncollapse an actor/role/agent, press <kbd>ctrl</kbd> and click it.</li>
            <li>To add an actor/role/agent in the diagram: click on the ACTOR... button, select the respective option,
                and then click on the diagram.
            </li>
            <li>To add a goal/task/resource/quality in the diagram: click on the respective button and then click on the
                diagram. (OBS: all elements must be inside an actor/role/agent)
            </li>
            <li>To add a refinement/qualification/needed-by link: click on the respective link button, then click on the
                source element, and lastly click on the target element.
            </li>
            <li>To add a contribution link: click on the CONTRIBUTION... button, select the respective label, then click
                on the source element, and lastly click on the target element.
            </li>
            <li>To add a dependency link: click on the DEPENDENCY... button, select the respective dependency type, then
                click on the source element (in the depender), and lastly click on the target element (on the dependee).
            </li>
            <li>To add an is-a/participates-in link: click on the ACTOR LINK... button, select the respective option,
                then click on the source, and lastly click on the target.
            </li>
            <li>To delete an element: click on the element, then click on its <em>'X'</em> symbol or press the <kbd>delete</kbd>
                key.
            </li>
            <li>To delete a dependency: click on its dependum, then click on its <em>'X'</em> symbol or press the <kbd>delete</kbd>
                key.
            </li>
            <li>To delete a link: point the mouse over the link, then click on its <em>'X'</em> symbol.</li>
            <li>To add a property to an element: click on the element, then click on the <em>Add Property</em> button in
                the panel below the diagram.
            </li>
            <li>TIP: You can use your browser's zoom options (try pressing <kbd>ctrl</kbd> and scrolling your mouse
                wheel).
            </li>
            <li>You can change the diagram size and other visualization options with <em>Diagram Options</em> <span
                    class="label label-info">new</span></li>
        </ul>
        For help with the iStar 2 language, please visit <em><a href="https://sites.google.com/site/istarlanguage/"
                                                                target="blank">https://sites.google.com/site/istarlanguage/</a></em><br/>
        For more info on this project, please visit the <a href="https://github.com/jhcp/piStar/" target="blank">piStar
        repository</a>.<br/>
        <em>piStar tool version 1.0.0</em>
    </div>
</div>

<div id="personaArea" class="collapse container">
    <ul>
        <li><h5>Persona-based modelling activated</h5></li>
        <li>

            <button class="btn btn-info navbar-btnF"
                    type="button" id="defineFactsButton" data-toggle="modal"
                    data-target="#factsModal"
                    title="Define facts for contexts">
                <span id="stepOneLabel">Step 1: Define facts for contexts</span>
            </button>
            <span id="stepOneDone" class="glyphicon glyphicon-ok" style="display:none"></span>
            <span id="stepOneNotDone" class="glyphicon glyphicon-remove" style="display:none"></span>
        </li>
        <li>
            <button type="button" id="secondStepPersona" class="btn btn-info navbar-btn"
                    data-toggle="modal"
                    data-target="#contextAndFactsModal"
                    title="Define contexts and associate then with facts created in step 1">
                <span id="stepTwoLabel">Step 2: Define contexts </span>
            </button>
            <span id="stepTwoDone" class="glyphicon glyphicon-ok" style="display:none"></span>
            <span id="stepTwoNotDone" class="glyphicon glyphicon-remove" style="display:none"></span>
        </li>
        <li>
            <button type="button" id="thirdStepPersona" class="btn btn-info navbar-btn">
                <span>Step 3: Relate contexts to goals/or tasks of CGM </span>
            </button>
        </li>
        <li>
            <button type="button" id="fourthStepPersona" class="btn btn-info navbar-btn"
                    data-toggle="modal"
                    data-target="#personaCreationModal">
                <span>Step 4: Define personas </span>
            </button>
        </li>
        <li>
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <span>(Optional) Review your persona</span>
            </button>
        </li>
        <li>
            <button type="button" id="fourthStepPersona" class="btn btn-info navbar-btn">
                <span>Step 5: Run achievability algorithm </span>
            </button>
        </li>

        <!--for reference-->
        <!--<li>-->
        <!--<div id="header"><h1>Backbone Cellar</h1></div>-->

        <!--<div id="seila"></div>-->

        <!--<div id="content">-->
        <!--<h2>Welcome to Backbone Cellar</h2>-->
        <!--<p>-->
        <!--This is a sample application part of of three-part tutorial showing how to build a CRUD application-->
        <!--with Backbone.js.-->
        <!--</p>-->
        <!--</div>-->
        <!--</li>-->


    </ul>
</div>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <h3>Persona info</h3>
        </div>
        <div class="sidebar">
            <h4>Name:</h4>
            <label for="selectPersona"></label><select id="selectPersona">
        </select>
        </div>
        <div class="sidebar" id="reviewPersonaView"></div>

        <!-- Salvo para referência futura -->
        <!--<h4>Description: </h4>-->
        <!--<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
        <!--dolore-->
        <!--magna aliqua. In cursus turpis massa tincidunt dui ut ornare lectus. Velit laoreet id donec ultrices-->
        <!--tincidunt-->
        <!--arcu non sodales neque. Lacus vel facilisis volutpat est velit. Mauris pharetra et ultrices neque ornare-->
        <!--aenean-->
        <!--euismod. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Eu feugiat pretium nibh ipsum-->
        <!--consequat nisl vel pretium.</h5>-->

        <!--<ul class="list-unstyled components">-->
        <!--<li>-->
        <!--<a href="#factsSubmenu" data-toggle="collapse" aria-expanded="false" id="#factsMenu"-->
        <!--class="sidebar-list">Facts</a>-->
        <!--<ul class="collapse list-unstyled" id="factsSubmenu">-->
        <!--<li>-->
        <!--<span>Fact 1</span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span>Fact 2</span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span>Fact 3</span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">Edit facts</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#contextsSubmenu" data-toggle="collapse" aria-expanded="false" id="#contextsMenu"-->
        <!--class="sidebar-list">Contexts</a>-->
        <!--<ul class="collapse list-unstyled" id="contextsSubmenu">-->
        <!--<li>-->
        <!--<span>Context 1</span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span>Context 2</span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span>Context 3</span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">Edit contexts</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->

        <button class="btn-success"> Run achievability algorithm</button>


        <!--<div class="sidebar-header">
            <h3>Context and Facts</h3>
        </div>
        <div class="sidebar-header">
            <h3>Is your persona a:</h3>
            <ul>
                <li><label for="patientRadioOption">
                </label><input type="radio" name="personatype" id="patientRadioOption" value="patient"> Patient
                </li>
                <li><label for="doctorRadioOption">
                </label><input type="radio" name="personatype" id="doctorRadioOption" value="doctor"> Doctor
                </li>
            </ul>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <div id="contextContainer">

                </div>
            </li>
        </ul>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#healthRiskSubmenu" data-toggle="collapse" aria-expanded="false" id="#healthRiskMenu"
                   class="sidebar-list">Health
                    Risk Context</a>
                <ul class="collapse list-unstyled" id="healthRiskSubmenu">
                    <li>
                        <div id="healthRiskFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#technologyAversionSubmenu" data-toggle="collapse" aria-expanded="false"
                   id="#technologyAversionMenu" class="sidebar-list">Technology Aversion Context</a>
                <ul class="collapse list-unstyled" id="technologyAversionSubmenu">
                    <li>
                        <div id="technologyAversionFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#mobilityIssueSubmenu" data-toggle="collapse" aria-expanded="false" id="#mobilityIssueMenu"
                   class="sidebar-list">Mobility
                    Issue Context</a>
                <ul class="collapse list-unstyled" id="mobilityIssueSubmenu">
                    <li>
                        <div id="mobilityIssueFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#homeAssistanceSubmenu" data-toggle="collapse" aria-expanded="false" id="homeAssistanceMenu"
                   class="sidebar-list">Home
                    Assistance Context</a>
                <ul class="collapse list-unstyled" id="homeAssistanceSubmenu">
                    <li>
                        <div id="homeAssistanceFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#physicalActivitySubmenu" data-toggle="collapse" aria-expanded="false"
                   id="physicalActivityMenu" class="sidebar-list">Physical Activity Context</a>
                <ul class="collapse list-unstyled" id="physicalActivitySubmenu">
                    <li>
                        <div id="physicalActivityFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#meansOfCommunicationSubmenu" data-toggle="collapse" aria-expanded="false"
                   id="meansOfCommunicationMenu" class="sidebar-list">Means of Communication Context</a>
                <ul class="collapse list-unstyled" id="meansOfCommunicationSubmenu">
                    <li>
                        <div id="meansOfCommunicationFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#meansOfInformationSubmenu" data-toggle="collapse" aria-expanded="false"
                   id="meansOfInfomationMenu" class="sidebar-list">Means of Information Context</a>
                <ul class="collapse list-unstyled" id="meansOfInformationSubmenu">
                    <li>
                        <div id="meansOfInformationFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#meansOfHelpingSubmenu" data-toggle="collapse" aria-expanded="false" id="meansOfHelpingMenu"
                   class="sidebar-list">Means
                    of Helping Context</a>
                <ul class="collapse list-unstyled" id="meansOfHelpingSubmenu">
                    <li>
                        <div id="meansOfHelpingFacts"></div>
                    </li>
                </ul>
            </li>
            &lt;!&ndash; Might need it later
            <li>
                <a href="#">Dummy link 0</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Dummy menu</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Dummy link</a>
            </li>
            <li>
                <a href="#">Dummy link also</a>
            </li>&ndash;&gt;
        </ul>-->
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <div id="addToolbar" class="container-fluid">
            <div class="row">
                <strong>&nbsp;&nbsp;ADD: </strong>
                <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuActor" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true" title="Add Role, Agent, or Actor">
                <img src="images/Actor.svg" height="25px"/><br/>
                Actor...
                <span class="caret"></span>
            </button>
            <ul id="addActorDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuActor"></ul>
        </span>

                <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuActorLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    title="Add is-a or participates-in link between actors">
                <img src="images/IsALink.svg" height="25px"/><br/>
                Actor links...
                <span class="caret"></span>
            </button>
            <ul id="addActorLinkDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuActorLink"></ul>
        </span>

                <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDependencyLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Add dependency link">
                <img src="images/DependencyLink.svg" height="25px"/><br/>
                Dependency...
                <span class="caret"></span>
            </button>
            <ul id="addDependencyDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuDependencyLink"></ul>
        </span>

                <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuContributionLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    title="Add contribution link (make, help, hurt or break)">
                <img src="images/ContributionLink.svg" height="25px"/><br/>
                Contribution...
                <span class="caret"></span>
            </button>
            <ul id="addContributionDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuContributionLink"></ul>
        </span>

                <span id="addToolbarButtons"></span>
                <div>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i id="status"></i>
            </span>
                </div>

            </div>
        </div>

        <div id="diagramOuter">
            <div id="diagram"></div>
        </div>
        <div class="container-fluid toolbar" id="extraOptions">
            <div class="row">
                <div id="propertiesPanel" class="col-md-8">
                    <div>
                        <table class="table table-bordered table-condensed" id="propertyTable">
                            <thead>
                            <tr>
                                <th>Property Name</th>
                                <th>Property Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="cellButtons">
                    </div>
                </div>

                <div id="appToolbar" class="col-md-3">
                    <button type="button" id="saveImageButton"><span class="glyphicon glyphicon-picture"
                                                                     aria-hidden="true"></span> Save Image
                    </button>
                    <span id="saveImage" class="toolbarGroup"></span>

                    <button type="button" id="saveModelButton"><span class="glyphicon glyphicon-floppy-save"
                                                                     aria-hidden="true"></span> Save Model
                    </button>
                    <span id="saveModel" class="toolbarGroup"></span>

                    <button type="button" id="loadModelButton" data-toggle="modal" data-target="#loadMo'delModal"
                            title="Load a goal model from a JSON file created with this tool"><span
                            class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> Load model
                    </button>
                    <button type="button" id="diagramOptionsModalButton" data-toggle="modal"
                            data-target="#diagramOptions"
                            title="Change diagram settings"><span class="glyphicon glyphicon-blackboard"
                                                                  aria-hidden="true"></span> Diagram options
                    </button>
                    <button type="button" id="clearButton"><span class="glyphicon glyphicon-trash"
                                                                 aria-hidden="true"></span>
                        Clear
                    </button>
                    <button type="button" id="runPRISMButton"><span class="glyphicon glyphicon-refresh"
                                                                    aria-hidden="true"></span> Generate PRISM DTMC Code
                    </button>
                    <button type="button" id="runPARAMButton"><span class="glyphicon glyphicon-refresh"
                                                                    aria-hidden="true"></span> Parametric Formula
                        Generation
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- backbone templates -->
<script type="text/template" id="addButtonTemplate">
    <button type="button" class="btn btn-default" id="add<%- label %>" title="<%- tooltip %>"><img
            src="images/<%- name %>.svg" height="25px"/><br/><%- label %>
    </button>
</script>

<script type="text/template" id="addPersonaFactTemplate">
    <div id="<%= factTypesNames %>Div">
        <button
                id="add<%= factTypesNames %>"
                class="btn btn-xs persona-fact-button"
                data-toggle="button"
                aria-pressed="false">
            <%= factTypesNames %>
        </button>
    </div>
</script>

<script type="text/template" id="addPersonaContextTemplate">
    <div id="personaContext">
        <a href="#<%=facts.factTypesNames %>" data-toggle="collapse" aria-expanded="false"><%= contextName %></a>
        <ul class="collapse list-unstyled" id="<%=contextName %>">
            <li>
                <button
                        id="add"
                        class="btn btn-xs persona-fact-button"
                        data-toggle="button"
                        aria-pressed="false">
                    kkkkkkkkkk
                </button>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="showFactsListTemplate">
    <div class="view">
        <label><%- factName %></label>
        <button class="destroy"></button>
    </div>
    <input class="edit" value="<%- factName %>">
</script>

<script type="text/template" id="addDropdownButtonTemplate">
    <a id="add<%- label %>" title="<%- tooltip %>" href="#"><img src="images/<%- name %>.svg" height="35px"/> <%- label
        %></a>
</script>

<script type="text/template" id="addOptionContextTemplate">

</script>

<script type="text/template" id="propertyTemplate">
    <tr>
        <td class="propertyName"><%- propertyName %></td>
        <td class="propertyValue">
            <a href="#" id="current<%- propertyName %>" class="propertyValue" data-type="text" data-pk="1"
               data-name="<%- propertyName %>" data-title="Enter <%- propertyName %>"><%- propertyValue %></a>
        </td>
    </tr>
</script>

<!-- Persona-Based Modelling Contexts -->

<script type="text/template" id="addContextTemplate">
    <a id="add<%- label %>" title="<%- tooltip %>" href="#"><img src="images/<%- name %>.svg" height="35px"/> <%- label
        %></a>

    <ul class="collapse list-unstyled" id="<%- label %>">
        <li>
            <button id=href="#">Home 1</button>
        </li>
    </ul>
</script>

<!--<script type="text/template" id="tpl-header">-->
<!--<span class="title">Backbone Cellar</span>-->
<!--<button class="new">New Wine</button>-->
<!--</script>-->

<!--For reference-->
<!--<script type="text/template" id="tpl-wine-list-item">-->
<!--<a href='#wines/<%= id %>'><%= name %></a>-->

<!--<div class="btn-group mr-2" role="group" aria-label="Second group">-->
<!--<button id="<%= id %>" data-toggle="button" aria-pressed="false" autocomplete="off"><%=name %></button>-->
<!--<button id="#removeElementButton" type="button" class="close" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--</script>-->

<script type="text/template" id="tpl-decomposition-list-item">
    <div class="btn-group mr-2" role="group" aria-label="Decomposition group">
        <input type="checkbox" id="buttonFor <%= name %>" data-toggle="button" name="decomposition" aria-pressed="false"
               autocomplete="off"><%=name %><b>[<%= decompositionType %>]</b>
        <button id="#removeElementButton" type="button" class="close" aria-label="Close"
                title="Remove this decomposition">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</script>

<script type="text/template" id="tpl-fact-checkbox-list-item">
    <label for="<%= factName %>">
        <input id="<%= factName %>" type="checkbox" value="<%= id %>"><%= factName %>
    </label>
</script>

<script type="text/template" id="tpl-context-checkbox-list-item">
    <label for="<%= contextName %>">
        <input id="<%= contextName %>" type="checkbox" value="<%= contextName %>"><%= contextName %>
    </label>
</script>

<script type="text/template" id="tpl-sidebar-persona-info">
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <h3>Persona info</h3>
        </div>
        <button class="btn-success"> Run achievability algorithm</button>


        <!--<div class="sidebar-header">
            <h3>Context and Facts</h3>
        </div>
        <div class="sidebar-header">
            <h3>Is your persona a:</h3>
            <ul>
                <li><label for="patientRadioOption">
                </label><input type="radio" name="personatype" id="patientRadioOption" value="patient"> Patient
                </li>
                <li><label for="doctorRadioOption">
                </label><input type="radio" name="personatype" id="doctorRadioOption" value="doctor"> Doctor
                </li>
            </ul>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <div id="contextContainer">

                </div>
            </li>
        </ul>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#healthRiskSubmenu" data-toggle="collapse" aria-expanded="false" id="#healthRiskMenu"
                   class="sidebar-list">Health
                    Risk Context</a>
                <ul class="collapse list-unstyled" id="healthRiskSubmenu">
                    <li>
                        <div id="healthRiskFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#technologyAversionSubmenu" data-toggle="collapse" aria-expanded="false"
                   id="#technologyAversionMenu" class="sidebar-list">Technology Aversion Context</a>
                <ul class="collapse list-unstyled" id="technologyAversionSubmenu">
                    <li>
                        <div id="technologyAversionFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#mobilityIssueSubmenu" data-toggle="collapse" aria-expanded="false" id="#mobilityIssueMenu"
                   class="sidebar-list">Mobility
                    Issue Context</a>
                <ul class="collapse list-unstyled" id="mobilityIssueSubmenu">
                    <li>
                        <div id="mobilityIssueFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#homeAssistanceSubmenu" data-toggle="collapse" aria-expanded="false" id="homeAssistanceMenu"
                   class="sidebar-list">Home
                    Assistance Context</a>
                <ul class="collapse list-unstyled" id="homeAssistanceSubmenu">
                    <li>
                        <div id="homeAssistanceFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#physicalActivitySubmenu" data-toggle="collapse" aria-expanded="false"
                   id="physicalActivityMenu" class="sidebar-list">Physical Activity Context</a>
                <ul class="collapse list-unstyled" id="physicalActivitySubmenu">
                    <li>
                        <div id="physicalActivityFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#meansOfCommunicationSubmenu" data-toggle="collapse" aria-expanded="false"
                   id="meansOfCommunicationMenu" class="sidebar-list">Means of Communication Context</a>
                <ul class="collapse list-unstyled" id="meansOfCommunicationSubmenu">
                    <li>
                        <div id="meansOfCommunicationFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#meansOfInformationSubmenu" data-toggle="collapse" aria-expanded="false"
                   id="meansOfInfomationMenu" class="sidebar-list">Means of Information Context</a>
                <ul class="collapse list-unstyled" id="meansOfInformationSubmenu">
                    <li>
                        <div id="meansOfInformationFacts"></div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#meansOfHelpingSubmenu" data-toggle="collapse" aria-expanded="false" id="meansOfHelpingMenu"
                   class="sidebar-list">Means
                    of Helping Context</a>
                <ul class="collapse list-unstyled" id="meansOfHelpingSubmenu">
                    <li>
                        <div id="meansOfHelpingFacts"></div>
                    </li>
                </ul>
            </li>
            &lt;!&ndash; Might need it later
            <li>
                <a href="#">Dummy link 0</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Dummy menu</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Dummy link</a>
            </li>
            <li>
                <a href="#">Dummy link also</a>
            </li>&ndash;&gt;
        </ul>-->
    </nav>
</script>

<script type="text/template" id="tpl-review-persona-navbar-view">
    <h4>Description: </h4>
    <h5><%= personaDescription %></h5>
    <ul class="list-unstyled components">
        <li>
            <a href="#factsSubmenu" data-toggle="collapse" aria-expanded="false" id="factsMenu"
               class="sidebar-list">Facts</a>
            <ul class="collapse list-unstyled" id="factsSubmenu">
            </ul>
        </li>
        <li>
            <a href="#contextsSubmenu" data-toggle="collapse" aria-expanded="false" id="contextsMenu"
               class="sidebar-list">Contexts</a>
            <ul class="collapse list-unstyled" id="contextsSubmenu">
            </ul>
        </li>
    </ul>
</script>

<!--<script type="text/template" id="tpl-wine-details">-->

<!--<div class="form-left-col">-->
<!--<label>Id:</label>-->
<!--<input type="text" id="wineId" name="id" value="<%= id %>" disabled/>-->
<!--<label>Name:</label>-->
<!--<input type="text" id="name" name="name" value="<%= name %>" required/>-->
<!--<label>Grapes:</label>-->
<!--<input type="text" id="grapes" name="grapes" value="<%= grapes %>"/>-->
<!--<label>Country:</label>-->
<!--<input type="text" id="country" name="country" value="<%= country %>"/>-->
<!--<label>Region:</label>-->
<!--<input type="text" id="region" name="region" value="<%= region %>"/>-->
<!--<label>Year:</label>-->
<!--<input type="text" id="year" name="year" value="<%= year %>"/>-->
<!--<button class="save">Save</button>-->
<!--<button class="delete">Delete</button>-->
<!--<button class="sair">Hide</button>-->
<!--</div>-->

<!--<div class="form-right-col">-->
<!--<img height="300" src="../pics/<%= picture %>"/>-->
<!--<label>Notes:</label>-->
<!--<textarea id="description" name="description"><%= description %></textarea>-->
<!--</div>-->

<!--</script>-->


<div id="modals">

    <div class="modal fade" id="loadModelModal" tabindex="-1" role="dialog" aria-labelledby="loadModelModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loadModelModalLabel">Load i* model from JSON</h4>
                </div>
                <div class="modal-body">
                    <input type="file" id="actualFileInput" name="file"/>
                    <br/>
                    <p>Or paste the content of your model into the textarea below.</p>
                    <textarea id="loadModelContent" autofocus="" rows="10" cols="50"></textarea>
                </div>
                <div class="modal-footer">
                    <button id="loadButton" type="button" class="btn btn-primary" data-loading-text="Loading...">Load
                        model
                    </button>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="diagramOptions" tabindex="-1" role="dialog" aria-labelledby="diagramOptionsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loadModelModalLabel">Change Diagram Options</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <label for="diagramWidthInput">Width</label>
                            <input id="diagramWidthInput" type="text" autofocus=""> px
                            <br/>
                            <label for="diagramWidthInput">Height</label>
                            <input id="diagramHeightInput" type="text"> px
                            <br/>
                            <button id="diagramSizeButton" type="button">Apply</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                <button id="preciseLinksButton" type="button">
                                    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Fix links
                                    spacing
                                </button>
                                <em>Remove gaps between links and elements, recommended to apply before saving an image.
                                    It may take some seconds.</em>
                            </p>
                            <p>
                                <button id="whiteActorsButton" type="button">
                                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Blank actors
                                </button>
                                <em>Turn white the background color of the boundaries of existing actors.</em>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Persona modals-->
    <div class="modal fade" id="factsModal" tabindex="-1" role="dialog" aria-labelledby="defineFactsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close close-modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="defineFactsModalTitle">Define facts for context</h4>
                </div>
                <div class="modal-body">
                    <input class='fact-input' title="Define a fact by name" placeholder="Choose a fact name!"
                           autofocus="">
                    <button class="fact-create" id="createFact" title="Click here to create your fact!">Create fact!
                    </button>
                    <hr class="edited-hr"/>
                    <h4 class="panel-title">
                        <a id="show-facts-button" class="show-facts" data-toggle="collapse"
                           href="#showFactsList">
                        </a>
                    </h4>
                    <div id="showFactsList" class="panel-collapse collapse">
                        <ul id="factsList" class="list-group">
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn close-modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Persona modals-->
    <div class="modal fade" id="contextAndFactsModal" tabindex="-1" role="dialog" aria-labelledby="defineContextsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close close-modal-context"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="defineContextsModalTitle">Define context by associating facts</h4>
                </div>
                <div class="modal-body">
                    <input type="radio" name="createOrEdit" value="create-context">Create a new context
                    <br/>
                    <input type="radio" name="createOrEdit" value="edit-context">Edit existing context
                    <div class="createContext" hidden>
                        <input type="text" class="context-input" placeholder="New context name">
                        <button id="createContextName" title="Create context name">Set name for context</button>
                    </div>
                    <div class="editContext" hidden>
                        <label for="selectContext"></label><select id="selectContext"></select>
                        <button id="removeContext">Remove selected context</button>
                    </div>
                    <div>
                        <h4>Create new decomposition of facts</h4>
                        <a data-toggle="modal" data-target="#decompositionModal">New decomposition</a>
                    </div>
                    <h4>Select the decompositions you want in this context: </h4>
                    <div id="aggrList" class="col-xs-12">

                    </div>
                    <button id="saveContext" class="btn-success">Create Context</button>
                    <span id="successContextMessage" hidden>Context created successfully!</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn close-modal-context" aria-label="Close">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="decompositionModal" tabindex="-1" role="dialog"
         aria-labelledby="decompositionModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close"
                            data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="decompositionModalTitle">Choose your decomposition name and type</h4>
                </div>
                <div class="modal-body">
                    <input id="decompositionNameInput" type="text" placeholder="New decomposition name" maxlength="30">
                    <h4>Select a decomposition type</h4>
                    <div class="radio-inline" role="group" aria-label="aggregationTypes">
                        <input id="decompositionAndOptionRadio"
                               type="radio" value="and" name="aggrType" title="AND" PLACEHOLDER="AND"> AND
                        <br/>
                        <input id="decompositionOrOptionRadio"
                               type="radio" value="or" name="aggrType" title="OR" placeholder="OR"> OR
                        <br/>
                    </div>
                    <br/>
                    <h4>Select the facts that you want in this decomposition</h4>
                    <div id="factCheckboxList"></div>
                    <div class="separator"></div>
                    <button id="decompositionCreatorButton" class="btn"> Create!</button>
                    <span id="successDecompositionMessage" hidden>Decomposition created!</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" aria-label="Close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="personaCreationModal" tabindex="-1" role="dialog"
         aria-labelledby="personaCreationModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-close"
                            data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="personaCreationModalTitle">Create a persona!</h4>
                </div>
                <div class="modal-body">
                    <div id="personaForm">
                        <h4>Define the name for your persona</h4>
                        <input type="text"
                               placeholder="Persona name"
                               id="personaCreationName">
                        <hr/>
                        <h4>Set a description(optional)</h4>
                        <textarea id="personaCreationDescription" autofocus="" rows="5" cols="30"
                                  placeholder="Set a description(optional)"></textarea>
                        <h4>Select facts about this persona</h4>
                        <div id="personaFactCheckboxList" class="col-xs-12">
                        </div>
                        <hr/>
                        <h4>Or select contexts directly</h4>
                        <div id="personaContextList" class="col-xs-12">
                        </div>
                        <hr/>

                        <button id="createPersonaButton" class="btn-success">Finish and create persona!</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" aria-label="Close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

<!-- dependencies -->
<script src="istarcore/lib/jquery.min.js"></script>
<script src="istarcore/lib/lodash.min.js"></script>
<script src="istarcore/lib/backbone.min.js"></script>

<script src="istarcore/lib/joint.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>

<script src="lib/bootstrap3-editable/js/bootstrap-editable.min.js" type="text/javascript"></script>

<!-- istar core -->
<script src="istarcore.shapes.js"></script>
<script src="istarcore/istarcore.metamodel.js"></script>
<script src="istarcore/istarcore.js"></script>
<script src="istarcore/metamodel.js"></script>

<!-- tool specific -->
<script src="istarcore/fileManager.js"></script>
<script src="uiComponents.js"></script>
<script src="ui.js"></script>
<script src="examples.js"></script>


<!-- Persona core -->
<script src="persona/personaModels.js"></script>
<script src="persona/personaCollections.js"></script>
<script src="persona/persona.js"></script>
<script src="persona/personaComponents.js"></script>


<!-- insert your plugin(s) here, after this line -->
<script src="main.js"></script>


</html>
